.App {
  font-family: sans-serif;
  width: 500px;
  background-color: lightgrey;
  margin-top: 100px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}

.main {
  display: flex;
  justify-content: center;
}

.input-part {
  padding: 8px;
}

.todo-list {
  padding-left: 20px;
  padding-bottom: 15px;
}